<div>
    <mat-toolbar>
        <button mat-icon-button class="navbar-icon" aria-label="navbar icon-button with menu icon">
            <mat-icon>sailing</mat-icon>
        </button>
        <span>Boat App</span>
        <span class="navbar-spacer"></span>
        <button mat-icon-button class="navbar-icon favorite-icon" aria-label="navbar icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="navbar-icon" aria-label="navbar icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</div>